<p>
    <a href="{% url 'quiz:index' %}">Q_web</a> -
    <a href="{% url 'quiz:quiz' %}">Quiz</a> -
    {% if perms.quiz.view_question %}
    <a href="{% url 'quiz:questions' %}">All questions</a> -
    {% endif %}
    {% if user.is_authenticated %}
    Hello, {{ user.username }}.
    <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
    <a href="{% url 'users:register' %}">Register</a> -
    <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}