{% load bootstrap5 %}
{% load static %}

<!doctype html> 
<html lang="fa" dir="rtl"> 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
      
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <title>کوییز ریاضی</title>
    {% bootstrap_css %}
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'quiz/css/main.css' %}">
    <style>
      #progressBar {
        width: 90%;
        margin: 10px auto;
        height: 22px;
        background-color: #3579f6;
      }
      
      #progressBar div {
        height: 100%;
        text-align: left;
        padding: 0 10px;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #c8c8c8;
        box-sizing: border-box;}
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top navbar-light bg-light mb-4 border">

    <a class="navbar-brand" href="{% url 'quiz:index'%}">کوییز ریاضی</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
   
            <li class="nav-item">
                <a class="nav-link" href="{% url 'quiz:commitment'%}">
                    کوییز</a></li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'quiz:make_quiz' %}">
                    ساخت کوییز</a></li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'quiz:quizzes' %}">
                    تمام کوییزها</a></li>

            {% if perms.quiz.view_question %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'quiz:questions' %}">
                    تمام سوالات</a></li>
            {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <span class="navbar-text">سلام, {{ user.username }}.</span>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">خروج</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">ایجاد حساب کاربری</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">ورود به حساب کاربری</a></li>
                {% endif %}
              </ul>
            </div>
        </nav>

        <main role="main" class="container">
            <div class="pb-2 mb-2 border-bottom">
                {% block page_header %}{% endblock page_header %}
                </div>
            <div>
            {% block content %}{% endblock content %}
                </div>
            </main>
    </body>
</html>