{% extends "quiz/base.html" %}
{% load bootstrap5 %}

{% block page_header %}
  <h3>تعهدنامه</h3>
{% endblock page_header %}

{% block content %}
<h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores obcaecati eligendi, adipisci accusamus deserunt, exercitationem laboriosam voluptas non hic eos ipsam autem est quaerat repudiandae dolor sit odio, fugiat iure!</h6>

<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    شروع کوییز
  </button>
  
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">تعهدنامه</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            تعهد می‌دهم که تقلب نکنم.
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <a class="btn btn-primary" href="{% url 'quiz:quiz' %}"
                role="button">پذیرش</a>
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">عدم پذیرش</button>
        </div>
  
      </div>
    </div>
  </div>

{% endblock content %}