{% extends "quiz/base.html" %}
{% load bootstrap5 %}

{% block page_header %}
  <h3>اطلاعات کوییز</h3>
{% endblock page_header %}

{% block content %}
<h5>{{ quiz_title }}</h5>
<li><h6>این کوییز {{ question_count }} سوال دارد.</h6></li>
<li><h6>مدت زمان شما برای پاسخ‌گویی {{ quiz_duration }} دقیقه است.</h6></li>
<li><h6>پس از شروع کوییز امکان خروج و شرکت دوباره در این کوییز را ندارید.</h6></li>
<li><h6>در طول کوییز به زمان باقی‌مانده توجه کنید. صفحه‌ی کوییز پس از اتمام زمان بسته خواهد شد.</h6></li>
<li><h6>در طول کوییز صفحه را Refresh نکنید.</h6></li>
<li><h6>برای وارد کردن پاسخ هر سوال کیبورد را در حالت انگلیسی قرار دهید و صرفا عدد پاسخ را وارد کنید.</h6></li>
<li><h6>نتیجه‌ی کوییز پس از تایید معلم در پنل شما قابل مشاهده خواهد بود.</h6></li><br>


<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#myModal">
    شروع کوییز
  </button>
  
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">تعهدنامه</h4>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            هرگونه تقلب شرعا و اخلاقا نکوهیده است. تعهد می‌دهم در این کوییز صرفا با دانش خودم به سوالات پاسخ دهم و هیچ‌گونه تقلبی را مرتکب نشوم.
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <form action="{% url 'quiz:commitment' quiz_id %}" method='post'>
            {% csrf_token %}
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">عدم پذیرش</button>
          <button class="btn btn-primary" name="submit" role="button">پذیرش</button></form>
        </div>
  
      </div>
    </div>
  </div>

{% endblock content %}