{% extends "quiz/base.html" %}

{% block content %}
  <p>Questions:</p>

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

  <ul>
    {% for question in questions %}
      <li>{{ question.text }}
      {{ question.true_answer }}</li>
      <a href="{% url 'quiz:edit_question' question.id %}">Edit question</a> -
      <a href="{% url 'quiz:delete_question' question.id %}">Delete question</a>
    {% empty %}
      <li>No questions have been added yet.</li>
    {% endfor %}
  </ul>

  <p><a href="{% url 'quiz:add_question' %}">Add question</a></p>

{% endblock content %}