{% extends "quiz/base.html" %}
{% load bootstrap5 %}


{% block page_header %}
  <h1>تمام کوییزها:</h1>
{% endblock page_header %}

{% block content %}

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
          <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
      {% endfor %}
    </ul>
    {% endif %}

    <ul>
        {% for quiz in quizzes %}
        <div class="card">
          <div class="card-body">
          <h4> <a href="{% url 'quiz:quiz_page' quiz.id %}">{{ quiz }}</a> </h4>
          </div>
        </div>
        {% empty %}
      <li><h4>No quizzes have been added yet.</h4></li>
    {% endfor %}
    </ul>

{% endblock content %}